/* .background_img {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(76, 45, 253, 0.6250875350140056) 100%
  );
  margin: 10px;
  font-family: "Poppins", sans-serif;
} */

/* .custom-submit-button{
  margin-right: 300px;
  background-color: blueviolet;
} */
/* .bg_colour {
  background: rgb(91, 159, 215);
  background: linear-gradient(
    98deg,
    rgba(91, 159, 215, 1) 22%,
    rgba(0, 33, 36, 0.4373346750809699) 55%,
    rgba(0, 212, 255, 0.46262254901960786) 98%
  );
} */

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
